{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %} 

 <!-- Card Container -->
 <div class="flex flex-col md:flex-row bg-white rounded-lg shadow-lg overflow-hidden w-full max-w-screen-lg mx-auto">
    <!-- Left Side for User Input -->
    <div class="flex-1 p-6">
      <h2 class="text-md font-semibold">Enter your text here</h2>
      <form action="{% url 'predict'%}" method="post">
        {% csrf_token %}
        {{ form.text|add_class:"mt-4 p-2 w-full border rounded-md" }}
        <!-- Classify Text Button -->
        <button type="submit" class="mt-4 bg-blue-500 text-white rounded-md px-4 py-2">
          Classify Text
        </button>
      </form>
    </div>
    <!-- Divider -->
    <div class="border-r md:border-r md:border-t-0"></div>
    <!-- Right Side for List of Results -->
    <div class="flex-1 p-6">
      <h2 class="text-md font-semibold">Results</h2>
      <!-- Define the table -->
      <table class="min-w-full divide-y divide-gray-300 mt-4">
        <tbody>
          <!-- Loop through the predictions dictionary -->
          {% if predictions %}
            {% for class, prediction in predictions %}
              <tr>
                <td class="py-2">{{ class }}</td>
                <td class="py-2">{{ prediction }}</td>
              </tr>
            {% endfor %}
          {% else %}
            <tr>
              <td class="py-2" colspan="2">No results yet</td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
